In [2]:
import os
import sys
import pandas as pd
import censusdis
from censusdis import data
import censusdis.data as ced

#pandas settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
acs5_profile = "acs/acs5/profile"
year = 2021 # 2021 ACS 5-year estimates
all_states = "*"
all_counties = "*"

In [4]:
var_map = {
  #Educational Attainment
  "DP02_0060PE": "ed_lt9", # Percent of educational attainment less than 9th grade
  "DP02_0061PE": "ed_9_12", # Percent of educational attainment 9th to 12th grade, no diploma
  "DP02_0062PE": "ed_hs", # Percent of educational attainment high school graduate (includes equivalency) 
  "DP02_0063PE": "ed_sc", # Percent of educational attainment some college, no degree
  "DP02_0064PE": "ed_asc", # Percent of educational attainment associate's degree
  "DP02_0065PE": "ed_b", # Percent of educational attainment bachelor's degree
  "DP02_0066PE": "ed_gr", # Percent of educational attainment graduate or professional degree

  #Age 65 and over
  "DP05_0024PE": "age_gte65", # Percent of population age 65 and over

  #Race
  "DP05_0037PE" : "race_white", #Percent of total population white alone
  "DP05_0038PE" : "race_black", #Percent of total population black or African American alone
  "DP05_0039PE" : "race_aian", #Percent of total population American Indian and Alaska Native alone
  "DP05_0044PE" : "race_asian", #Percent of total population Asian alone
  "DP05_0052PE" : "race_nhopi", #Percent of total population Native Hawaiian and Other Pacific Islander alone
  "DP05_0057PE" : "race_other", #Percent of total population some other race

  #Ethnicity
  "DP05_0071PE" : "eth_hisp", #Percent of total population Hispanic or Latino

  #Gender
  "DP05_0002PE" : "sex_male", #Percent of total population male
  "DP05_0003PE" : "sex_female", #Percent of total population female

  #Occupation
  "DP03_0007PE" : "occ_n_lab", # Percent of civilian employed population 16 years and over not in labor force
  "DP03_0027PE" : "occ_mgt", # Percent of civilian employed population 16 years and over in management, business, science, and arts occupations
  "DP03_0028PE" : "occ_svc", # Percent of civilian employed population 16 years and over in service occupations
  "DP03_0029PE" : "occ_sales", # Percent of civilian employed population 16 years and over in sales and office occupations
  "DP03_0030PE" : "occ_nat_res", # Percent of civilian employed population 16 years and over in natural resources, construction, and maintenance occupations
  "DP03_0031PE" : "occ_prod", # Percent of civilian employed population 16 years and over in production, transportation, and material moving occupations

  #Housing Characteristics

  #Health Insurance Coverage
  "DP03_0099PE": "hlth_unins", # Percent of civilian noninstitutionalized population without health insurance coverage

  #Income
  "DP03_0128PE": "ses_pov", # Percent of all people whose income in past 12 is below poverty level; all people

  #Transportation
  "DP04_0058PE": "tp_veh_0", # Percent of occupied housing units with no vehicles available
  "DP04_0059PE": "tp_veh_1", # Percent of occupied housing units with 1 vehicle available
  "DP04_0060PE": "tp_veh_2", # Percent of occupied housing units with 2 vehicles available
  "DP04_0061PE": "tp_veh_3", # Percent of occupied housing units with 3 vehicles available

  #Broadband Internet Subscription
  "DP02_0154PE": "dg_bb_int", # Percent of households with internet (Broadband) subscription
  
}
vars = ["NAME"] + list(var_map.keys())

df = ced.download(acs5_profile, year, vars, state = all_states, county = all_counties)
df = df.rename(columns=var_map)
df.columns = map(str.lower, df.columns)

display(df.head(5), df.shape)

,state,county,name,ed_lt9,ed_9_12,ed_hs,ed_sc,ed_asc,ed_b,ed_gr,age_gte65,race_white,race_black,race_aian,race_asian,race_nhopi,race_other,eth_hisp,sex_male,sex_female,occ_n_lab,occ_mgt,occ_svc,occ_sales,occ_nat_res,occ_prod,hlth_unins,ses_pov,tp_veh_0,tp_veh_1,tp_veh_2,tp_veh_3,dg_bb_int
0,01,001,"Autauga County, Alabama",2.0,8.4,32.8,19.6,9.1,16.4,11.7,15.1,75.1,19.7,0.2,1.1,0.0,0.3,3.0,48.4,51.6,40.9,38.1,15.1,21.9,9.5,15.5,7.9,13.6,5.4,31.5,33.8,29.3,85.5
1,01,003,"Baldwin County, Alabama",2.1,6.9,27.4,21.7,9.5,20.6,11.8,20.6,84.5,8.8,0.6,1.0,0.0,1.8,4.7,48.8,51.2,40.8,36.1,17.8,23.6,9.5,13.0,9.7,9.2,2.4,31.7,43.2,22.7,87.9
2,01,005,"Barbour County, Alabama",7.4,16.9,36.7,20.5,7.3,6.7,4.4,19.0,45.5,47.4,0.3,0.4,0.0,3.9,4.7,52.9,47.1,54.6,25.6,20.7,19.9,12.2,21.6,10.4,26.5,11.2,33.3,33.8,21.7,64.6
3,01,007,"Bibb County, Alabama",6.2,13.3,43.9,18.0,6.7,7.9,4.0,16.0,75.9,22.3,0.1,0.2,0.0,0.1,2.8,54.9,45.1,50.3,22.0,16.8,21.5,16.6,23.1,10.0,16.9,6.3,24.7,37.7,31.3,74.6
4,01,009,"Blount County, Alabama",6.8,9.6,35.1,21.5,12.1,9.3,5.6,18.0,92.5,1.3,0.3,0.4,0.1,2.1,9.5,50.1,49.9,44.9,28.2,13.8,21.6,15.3,21.1,10.0,13.2,4.5,25.0,32.1,38.4,81.0

(3221, 33)

In [5]:
#drop Puerto Rick state = 72
df.drop(df[df['state'] == 72].index, inplace = True)

# Confidence Intervals
- Pull in estimates and margin of error
- Margin of error is 90% confidence interval
- To calculate confidence internval for percentage estimate, use the following formula:
    - (estimate - margin of error, estimate + margin of error)
    - Calculate percentage from total population or households

In [30]:
var_map = {
  #Population
  "DP05_0001E": "pop_tot", # Total population
  "DP02_0059E": "pop_25", # Estimate of total population 25 years and over (for educational attainment)

  #Total Households
  "DP02_0001E": "hh_tot", # Total households

  #Educational Attainment
  "DP02_0060E": "ed_lt9", # Estimate of educational attainment less than 9th grade
  "DP02_0061E": "ed_9_12", # Estimate of educational attainment 9th to 12th grade, no diploma
  "DP02_0062E": "ed_hs", # Estimate of educational attainment high school graduate (includes equivalency) 
  "DP02_0063E": "ed_sc", # Estimate of educational attainment some college, no degree
  "DP02_0064E": "ed_asc", # Estimate of educational attainment associate's degree
  "DP02_0065E": "ed_b", # Estimate of educational attainment bachelor's degree
  "DP02_0066E": "ed_gr", # Estimate of educational attainment graduate or professional degree

  "DP02_0060M": "m_ed_lt9", # Estimate of educational attainment less than 9th grade, margin of error
  "DP02_0061M": "m_ed_9_12", # Estimate of educational attainment 9th to 12th grade, no diploma, margin of error
  "DP02_0062M": "m_ed_hs", # Estimate of educational attainment high school graduate (includes equivalency) , margin of error
  "DP02_0063M": "m_ed_sc", # Estimate of educational attainment some college, no degree, margin of error
  "DP02_0064M": "m_ed_asc", # Estimate of educational attainment associate's degree, margin of error
  "DP02_0065M": "m_ed_b", # Estimate of educational attainment bachelor's degree, margin of error
  "DP02_0066M": "m_ed_gr", # Estimate of educational attainment graduate or professional degree, margin of error

  #Age 65 and over
  "DP05_0024E": "age_gte65", # Estimate of population age 65 and over
  
  "DP05_0024M": "m_age_gte65", # Estimate of population age 65 and over, margin of error

  #Race
  "DP05_0037E" : "race_white", #Estimate of total population white alone
  "DP05_0038E" : "race_black", #Estimate of total population black or African American alone
  "DP05_0039E" : "race_aian", #Estimate of total population American Indian and Alaska Native alone
  "DP05_0044E" : "race_asian", #Estimate of total population Asian alone
  "DP05_0052E" : "race_nhopi", #Estimate of total population Native Hawaiian and Other Pacific Islander alone
  "DP05_0057E" : "race_other", #Estimate of total population some other race

  "DP05_0037M" : "m_race_white", #Estimate of total population white alone, margin of error
  "DP05_0038M" : "m_race_black", #Estimate of total population black or African American alone, margin of error
  "DP05_0039M" : "m_race_aian", #Estimate of total population American Indian and Alaska Native alone, margin of error
  "DP05_0044M" : "m_race_asian", #Estimate of total population Asian alone, margin of error
  "DP05_0052M" : "m_race_nhopi", #Estimate of total population Native Hawaiian and Other Pacific Islander alone, margin of error
  "DP05_0057M" : "m_race_other", #Estimate of total population some other race, margin of error

  #Ethnicity
  "DP05_0071E" : "eth_hisp", #Estimate of total population Hispanic or Latino

  "DP05_0071M" : "m_eth_hisp", #Estimate of total population Hispanic or Latino, margin of error

  #Gender
  "DP05_0002E" : "sex_male", #Estimate of total population male
  "DP05_0003E" : "sex_female", #Estimate of total population female

  "DP05_0002M" : "m_sex_male", #Estimate of total population male, margin of error
  "DP05_0003M" : "m_sex_female", #Estimate of total population female, margin of error

  #Occupation
  "DP03_0007E" : "occ_n_lab", # Estimate of civilian employed population 16 years and over not in labor force
  "DP03_0027E" : "occ_mgt", # Estimate of civilian employed population 16 years and over in management, business, science, and arts occupations
  "DP03_0028E" : "occ_svc", # Estimate of civilian employed population 16 years and over in service occupations
  "DP03_0029E" : "occ_sales", # Estimate of civilian employed population 16 years and over in sales and office occupations
  "DP03_0030E" : "occ_nat_res", # Estimate of civilian employed population 16 years and over in natural resources, construction, and maintenance occupations
  "DP03_0031E" : "occ_prod", # Estimate of civilian employed population 16 years and over in production, transportation, and material moving occupations

  "DP03_0007M" : "m_occ_n_lab", # Estimate of civilian employed population 16 years and over not in labor force, margin of error
  "DP03_0027M" : "m_occ_mgt", # Estimate of civilian employed population 16 years and over in management, business, science, and arts occupations, margin of error
  "DP03_0028M" : "m_occ_svc", # Estimate of civilian employed population 16 years and over in service occupations, margin of error
  "DP03_0029M" : "m_occ_sales", # Estimate of civilian employed population 16 years and over in sales and office occupations, margin of error
  "DP03_0030M" : "m_occ_nat_res", # Estimate of civilian employed population 16 years and over in natural resources, construction, and maintenance occupations, margin of error
  "DP03_0031M" : "m_occ_prod", # Estimate of civilian employed population 16 years and over in production, transportation, and material moving occupations, margin of error

  #Health Insurance Coverage
  "DP03_0099E": "hlth_unins", # Estimate of civilian noninstitutionalized population without health insurance coverage

  "DP03_0099M": "m_hlth_unins", # Estimate of civilian noninstitutionalized population without health insurance coverage, margin of error

  #Income (Estimates not available, percentage only)
  "DP03_0128PE": "ses_pov", # Percentage estimate of all people whose income in past 12 is below poverty level; all people

  #Transportation
  "DP04_0058E": "tp_veh_0", # Estimate of occupied housing units with no vehicles available
  "DP04_0059E": "tp_veh_1", # Estimate of occupied housing units with 1 vehicle available
  "DP04_0060E": "tp_veh_2", # Estimate of occupied housing units with 2 vehicles available
  "DP04_0061E": "tp_veh_3", # Estimate of occupied housing units with 3 vehicles available

  "DP04_0058M": "m_tp_veh_0", # Estimate of occupied housing units with no vehicles available, margin of error
  "DP04_0059M": "m_tp_veh_1", # Estimate of occupied housing units with 1 vehicle available, margin of error
  "DP04_0060M": "m_tp_veh_2", # Estimate of occupied housing units with 2 vehicles available, margin of error
  "DP04_0061M": "m_tp_veh_3", # Estimate of occupied housing units with 3 vehicles available, margin of error

  #Broadband Internet Subscription
  "DP02_0154E": "dg_bb_int", # Estimate of households with internet (Broadband) subscription

  "DP02_0154M": "m_dg_bb_int", # Estimate of households with internet (Broadband) subscription, margin of error
  
}
vars = ["NAME"] + list(var_map.keys())

df_CI = ced.download(acs5_profile, year, vars, state = all_states, county = all_counties)
df_CI = df_CI.rename(columns=var_map)
df_CI.columns = map(str.lower, df_CI.columns)

display(df_CI.head(5), df.shape)

,state,county,name,pop_tot,pop_25,hh_tot,ed_lt9,ed_9_12,ed_hs,ed_sc,ed_asc,ed_b,ed_gr,m_ed_lt9,m_ed_9_12,m_ed_hs,m_ed_sc,m_ed_asc,m_ed_b,m_ed_gr,age_gte65,m_age_gte65,race_white,race_black,race_aian,race_asian,race_nhopi,race_other,m_race_white,m_race_black,m_race_aian,m_race_asian,m_race_nhopi,m_race_other,eth_hisp,m_eth_hisp,sex_male,sex_female,m_sex_male,m_sex_female,occ_n_lab,occ_mgt,occ_svc,occ_sales,occ_nat_res,occ_prod,m_occ_n_lab,m_occ_mgt,m_occ_svc,m_occ_sales,m_occ_nat_res,m_occ_prod,hlth_unins,m_hlth_unins,ses_pov,tp_veh_0,tp_veh_1,tp_veh_2,tp_veh_3,m_tp_veh_0,m_tp_veh_1,m_tp_veh_2,m_tp_veh_3,dg_bb_int,m_dg_bb_int
0,01,001,"Autauga County, Alabama",58239,39614.0,21856.0,803.0,3323.0,12977.0,7774.0,3593.0,6507.0,4637.0,237.0,444.0,866.0,805.0,551.0,703.0,573.0,8815,92.0,43755,11470,98,647,0,196,311,309,85,206,30,181,1775,NaN,28206,30033,213.0,213.0,19027,9850,3898,5656,2460,4007,846,873,483,612,384,469,4496,706,13.6,1182,6891,7383,6400,282,606,522,537,18679.0,477.0
1,01,003,"Baldwin County, Alabama",227131,161977.0,87190.0,3400.0,11155.0,44342.0,35174.0,15344.0,33379.0,19183.0,484.0,1279.0,1977.0,1815.0,1215.0,1758.0,1450.0,46805,180.0,192034,19895,1259,2175,9,4163,1411,736,378,439,16,1261,10634,NaN,110781,116350,196.0,196.0,74931,37653,18572,24673,9940,13529,2131,1714,1556,1636,1111,1280,21826,2332,9.2,2128,27606,37676,19780,379,1440,1517,1328,76602.0,1482.0
2,01,005,"Barbour County, Alabama",25259,17995.0,9088.0,1336.0,3042.0,6600.0,3689.0,1321.0,1212.0,795.0,207.0,332.0,503.0,330.0,190.0,199.0,182.0,4801,29.0,11495,11985,77,106,1,977,198,182,40,38,3,208,1176,NaN,13361,11898,63.0,63.0,11270,2193,1773,1700,1042,1853,433,343,302,247,234,269,2313,352,26.5,1017,3024,3073,1974,207,313,271,224,5872.0,322.0
3,01,007,"Bibb County, Alabama",22412,16057.0,7083.0,988.0,2137.0,7052.0,2886.0,1081.0,1276.0,637.0,272.0,385.0,560.0,431.0,202.0,383.0,210.0,3594,114.0,17020,5003,21,46,0,21,113,135,37,70,24,28,634,NaN,12300,10112,150.0,150.0,9226,1805,1381,1770,1365,1902,562,339,400,406,331,388,2095,411,16.9,448,1748,2667,2220,222,297,342,324,5284.0,371.0
4,01,009,"Blount County, Alabama",58884,40668.0,21300.0,2761.0,3889.0,14284.0,8732.0,4941.0,3783.0,2278.0,328.0,492.0,714.0,624.0,523.0,493.0,312.0,10584,112.0,54439,760,189,216,74,1243,600,174,126,55,71,460,5612,NaN,29530,29354,144.0,144.0,21027,6848,3345,5228,3709,5114,793,561,402,598,386,582,5854,734,13.2,963,5318,6830,8189,247,509,519,580,17244.0,541.0

(3221, 33)

In [31]:
df_CI.columns

Index(['state', 'county', 'name', 'pop_tot', 'pop_25', 'hh_tot', 'ed_lt9',
       'ed_9_12', 'ed_hs', 'ed_sc', 'ed_asc', 'ed_b', 'ed_gr', 'm_ed_lt9',
       'm_ed_9_12', 'm_ed_hs', 'm_ed_sc', 'm_ed_asc', 'm_ed_b', 'm_ed_gr',
       'age_gte65', 'm_age_gte65', 'race_white', 'race_black', 'race_aian',
       'race_asian', 'race_nhopi', 'race_other', 'm_race_white',
       'm_race_black', 'm_race_aian', 'm_race_asian', 'm_race_nhopi',
       'm_race_other', 'eth_hisp', 'm_eth_hisp', 'sex_male', 'sex_female',
       'm_sex_male', 'm_sex_female', 'occ_n_lab', 'occ_mgt', 'occ_svc',
       'occ_sales', 'occ_nat_res', 'occ_prod', 'm_occ_n_lab', 'm_occ_mgt',
       'm_occ_svc', 'm_occ_sales', 'm_occ_nat_res', 'm_occ_prod', 'hlth_unins',
       'm_hlth_unins', 'ses_pov', 'tp_veh_0', 'tp_veh_1', 'tp_veh_2',
       'tp_veh_3', 'm_tp_veh_0', 'm_tp_veh_1', 'm_tp_veh_2', 'm_tp_veh_3',
       'dg_bb_int', 'm_dg_bb_int'],
      dtype='object')

In [32]:
pop = [
    'age_gte65','race_white', 'race_black', 'race_aian', 'race_asian',
    'race_nhopi', 'race_other','occ_n_lab', 'occ_mgt', 'eth_hisp',
    'occ_svc', 'occ_sales', 'occ_nat_res', 'occ_prod', 'hlth_unins', 
    'sex_male','sex_female'
]

edu_pop = [
    'ed_lt9', 'ed_9_12', 'ed_hs', 'ed_sc', 'ed_asc', 'ed_b', 'ed_gr',
]

hh = [
    'tp_veh_0','tp_veh_1', 'tp_veh_2', 'tp_veh_3', 'dg_bb_int'
]

In [33]:
#calculate percentage of population using pop list and pop_tot
for i in pop:
    df_CI['pct_'+i] = df_CI[i]/df_CI['pop_tot']
for i in edu_pop:
    df_CI['pct_'+i] = df_CI[i]/df_CI['pop_25']
for i in hh:
    df_CI['pct_'+i] = df_CI[i]/df_CI['hh_tot']

In [34]:
df_CI.head()

,state,county,name,pop_tot,pop_25,hh_tot,ed_lt9,ed_9_12,ed_hs,ed_sc,ed_asc,ed_b,ed_gr,m_ed_lt9,m_ed_9_12,m_ed_hs,m_ed_sc,m_ed_asc,m_ed_b,m_ed_gr,age_gte65,m_age_gte65,race_white,race_black,race_aian,race_asian,race_nhopi,race_other,m_race_white,m_race_black,m_race_aian,m_race_asian,m_race_nhopi,m_race_other,eth_hisp,m_eth_hisp,sex_male,sex_female,m_sex_male,m_sex_female,occ_n_lab,occ_mgt,occ_svc,occ_sales,occ_nat_res,occ_prod,m_occ_n_lab,m_occ_mgt,m_occ_svc,m_occ_sales,m_occ_nat_res,m_occ_prod,hlth_unins,m_hlth_unins,ses_pov,tp_veh_0,tp_veh_1,tp_veh_2,tp_veh_3,m_tp_veh_0,m_tp_veh_1,m_tp_veh_2,m_tp_veh_3,dg_bb_int,m_dg_bb_int,pct_age_gte65,pct_race_white,pct_race_black,pct_race_aian,pct_race_asian,pct_race_nhopi,pct_race_other,pct_occ_n_lab,pct_occ_mgt,pct_eth_hisp,pct_occ_svc,pct_occ_sales,pct_occ_nat_res,pct_occ_prod,pct_hlth_unins,pct_sex_male,pct_sex_female,pct_ed_lt9,pct_ed_9_12,pct_ed_hs,pct_ed_sc,pct_ed_asc,pct_ed_b,pct_ed_gr,pct_tp_veh_0,pct_tp_veh_1,pct_tp_veh_2,pct_tp_veh_3,pct_dg_bb_int
0,01,001,"Autauga County, Alabama",58239,39614.0,21856.0,803.0,3323.0,12977.0,7774.0,3593.0,6507.0,4637.0,237.0,444.0,866.0,805.0,551.0,703.0,573.0,8815,92.0,43755,11470,98,647,0,196,311,309,85,206,30,181,1775,NaN,28206,30033,213.0,213.0,19027,9850,3898,5656,2460,4007,846,873,483,612,384,469,4496,706,13.6,1182,6891,7383,6400,282,606,522,537,18679.0,477.0,0.151359,0.751301,0.196947,0.001683,0.011109,0.000000,0.003365,0.326705,0.169131,0.030478,0.066931,0.097117,0.042240,0.068803,0.077199,0.484315,0.515685,0.020271,0.083884,0.327586,0.196244,0.090700,0.164260,0.117055,0.054081,0.315291,0.337802,0.292826,0.854639
1,01,003,"Baldwin County, Alabama",227131,161977.0,87190.0,3400.0,11155.0,44342.0,35174.0,15344.0,33379.0,19183.0,484.0,1279.0,1977.0,1815.0,1215.0,1758.0,1450.0,46805,180.0,192034,19895,1259,2175,9,4163,1411,736,378,439,16,1261,10634,NaN,110781,116350,196.0,196.0,74931,37653,18572,24673,9940,13529,2131,1714,1556,1636,1111,1280,21826,2332,9.2,2128,27606,37676,19780,379,1440,1517,1328,76602.0,1482.0,0.206071,0.845477,0.087593,0.005543,0.009576,0.000040,0.018329,0.329902,0.165777,0.046819,0.081768,0.108629,0.043763,0.059565,0.096094,0.487741,0.512259,0.020991,0.068868,0.273755,0.217154,0.094729,0.206072,0.118430,0.024406,0.316619,0.432114,0.226861,0.878564
2,01,005,"Barbour County, Alabama",25259,17995.0,9088.0,1336.0,3042.0,6600.0,3689.0,1321.0,1212.0,795.0,207.0,332.0,503.0,330.0,190.0,199.0,182.0,4801,29.0,11495,11985,77,106,1,977,198,182,40,38,3,208,1176,NaN,13361,11898,63.0,63.0,11270,2193,1773,1700,1042,1853,433,343,302,247,234,269,2313,352,26.5,1017,3024,3073,1974,207,313,271,224,5872.0,322.0,0.190071,0.455085,0.474484,0.003048,0.004197,0.000040,0.038679,0.446178,0.086821,0.046558,0.070193,0.067303,0.041253,0.073360,0.091571,0.528960,0.471040,0.074243,0.169047,0.366769,0.205001,0.073409,0.067352,0.044179,0.111906,0.332746,0.338138,0.217210,0.646127
3,01,007,"Bibb County, Alabama",22412,16057.0,7083.0,988.0,2137.0,7052.0,2886.0,1081.0,1276.0,637.0,272.0,385.0,560.0,431.0,202.0,383.0,210.0,3594,114.0,17020,5003,21,46,0,21,113,135,37,70,24,28,634,NaN,12300,10112,150.0,150.0,9226,1805,1381,1770,1365,1902,562,339,400,406,331,388,2095,411,16.9,448,1748,2667,2220,222,297,342,324,5284.0,371.0,0.160361,0.759415,0.223229,0.000937,0.002052,0.000000,0.000937,0.411654,0.080537,0.028288,0.061619,0.078976,0.060905,0.084865,0.093477,0.548813,0.451187,0.061531,0.133088,0.439185,0.179735,0.067323,0.079467,0.039671,0.063250,0.246788,0.376535,0.313427,0.746012
4,01,009,"Blount County, Alabama",58884,40668.0,21300.0,2761.0,3889.0,14284.0,8732.0,4941.0,3783.0,2278.0,328.0,492.0,714.0,624.0,523.0,493.0,312.0,10584,112.0,54439,760,189,216,74,1243,600,174,126,55,71,460,5612,NaN,29530,29354,144.0,144.0,21027,6848,3345,5228,3709,5114,793,561,402,598,386,582,5854,734,13.2,963,5318,6830,8189,247,509,519,580,17244.0,541.0,0.179743,0.924513,0.012907,0.003210,0.003668,0.001257,0.021109,0.357092,0.116296,0.095306,0.056807,0.088785,0.062988,0.086849,0.099416,0.501494,0.498506,0.067891,0.095628,0.351234,0.214714,0.121496,0.093022,0.056015,0.045211,0.249671,0.320657,0.384460,0.809577

In [17]:
#calculate upper and lower margin of error for population estimates for columns in pop
for i in pop:
    df_CI[i+"_upper"] = df_CI[i] + df_CI["m_"+i]
    df_CI[i+"_lower"] = df_CI[i] - df_CI["m_"+i]

df_CI.head()

,state,county,name,pop_tot,hh_tot,ed_lt9,ed_9_12,ed_hs,ed_sc,ed_asc,ed_b,ed_gr,m_ed_lt9,m_ed_9_12,m_ed_hs,m_ed_sc,m_ed_asc,m_ed_b,m_ed_gr,age_gte65,m_age_gte65,race_white,race_black,race_aian,race_asian,race_nhopi,race_other,m_race_white,m_race_black,m_race_aian,m_race_asian,m_race_nhopi,m_race_other,eth_hisp,m_eth_hisp,sex_male,sex_female,m_sex_male,m_sex_female,occ_n_lab,occ_mgt,occ_svc,occ_sales,occ_nat_res,occ_prod,m_occ_n_lab,m_occ_mgt,m_occ_svc,m_occ_sales,m_occ_nat_res,m_occ_prod,hlth_unins,m_hlth_unins,ses_pov,m_ses_pov,tp_veh_0,tp_veh_1,tp_veh_2,tp_veh_3,m_tp_veh_0,m_tp_veh_1,m_tp_veh_2,m_tp_veh_3,dg_bb_int,m_dg_bb_int,ed_lt9_upper,ed_lt9_lower,ed_9_12_upper,ed_9_12_lower,ed_hs_upper,ed_hs_lower,ed_sc_upper,ed_sc_lower,ed_asc_upper,ed_asc_lower,ed_b_upper,ed_b_lower,ed_gr_upper,ed_gr_lower,age_gte65_upper,age_gte65_lower,race_white_upper,race_white_lower,race_black_upper,race_black_lower,race_aian_upper,race_aian_lower,race_asian_upper,race_asian_lower,race_nhopi_upper,race_nhopi_lower,race_other_upper,race_other_lower,occ_n_lab_upper,occ_n_lab_lower,occ_mgt_upper,occ_mgt_lower,eth_hisp_upper,eth_hisp_lower,occ_svc_upper,occ_svc_lower,occ_sales_upper,occ_sales_lower,occ_nat_res_upper,occ_nat_res_lower,occ_prod_upper,occ_prod_lower,hlth_unins_upper,hlth_unins_lower,ses_pov_upper,ses_pov_lower,sex_male_upper,sex_male_lower,sex_female_upper,sex_female_lower
0,01,001,"Autauga County, Alabama",58239,21856.0,803.0,3323.0,12977.0,7774.0,3593.0,6507.0,4637.0,237.0,444.0,866.0,805.0,551.0,703.0,573.0,8815,92.0,43755,11470,98,647,0,196,311,309,85,206,30,181,1775,NaN,28206,30033,213.0,213.0,19027,9850,3898,5656,2460,4007,846,873,483,612,384,469,4496,706,NaN,NaN,1182,6891,7383,6400,282,606,522,537,18679.0,477.0,1040.0,566.0,3767.0,2879.0,13843.0,12111.0,8579.0,6969.0,4144.0,3042.0,7210.0,5804.0,5210.0,4064.0,8907.0,8723.0,44066,43444,11779,11161,183,13,853,441,30,-30,377,15,19873,18181,10723,8977,NaN,NaN,4381,3415,6268,5044,2844,2076,4476,3538,5202,3790,NaN,NaN,28419.0,27993.0,30246.0,29820.0
1,01,003,"Baldwin County, Alabama",227131,87190.0,3400.0,11155.0,44342.0,35174.0,15344.0,33379.0,19183.0,484.0,1279.0,1977.0,1815.0,1215.0,1758.0,1450.0,46805,180.0,192034,19895,1259,2175,9,4163,1411,736,378,439,16,1261,10634,NaN,110781,116350,196.0,196.0,74931,37653,18572,24673,9940,13529,2131,1714,1556,1636,1111,1280,21826,2332,NaN,NaN,2128,27606,37676,19780,379,1440,1517,1328,76602.0,1482.0,3884.0,2916.0,12434.0,9876.0,46319.0,42365.0,36989.0,33359.0,16559.0,14129.0,35137.0,31621.0,20633.0,17733.0,46985.0,46625.0,193445,190623,20631,19159,1637,881,2614,1736,25,-7,5424,2902,77062,72800,39367,35939,NaN,NaN,20128,17016,26309,23037,11051,8829,14809,12249,24158,19494,NaN,NaN,110977.0,110585.0,116546.0,116154.0
2,01,005,"Barbour County, Alabama",25259,9088.0,1336.0,3042.0,6600.0,3689.0,1321.0,1212.0,795.0,207.0,332.0,503.0,330.0,190.0,199.0,182.0,4801,29.0,11495,11985,77,106,1,977,198,182,40,38,3,208,1176,NaN,13361,11898,63.0,63.0,11270,2193,1773,1700,1042,1853,433,343,302,247,234,269,2313,352,NaN,NaN,1017,3024,3073,1974,207,313,271,224,5872.0,322.0,1543.0,1129.0,3374.0,2710.0,7103.0,6097.0,4019.0,3359.0,1511.0,1131.0,1411.0,1013.0,977.0,613.0,4830.0,4772.0,11693,11297,12167,11803,117,37,144,68,4,-2,1185,769,11703,10837,2536,1850,NaN,NaN,2075,1471,1947,1453,1276,808,2122,1584,2665,1961,NaN,NaN,13424.0,13298.0,11961.0,11835.0
3,01,007,"Bibb County, Alabama",22412,7083.0,988.0,2137.0,7052.0,2886.0,1081.0,1276.0,637.0,272.0,385.0,560.0,431.0,202.0,383.0,210.0,3594,114.0,17020,5003,21,46,0,21,113,135,37,70,24,28,634,NaN,12300,10112,150.0,150.0,9226,1805,1381,1770,1365,1902,562,339,400,406,331,388,2095,411,NaN,NaN,448,1748,2667,2220,222,297,342,324,5284.0,371.0,1260.0,716.0,2522.0,1752.0,7612.0,6492.0,3317.0,2455.0,1283.0,879.0,1659.0,893.0,847.0,427.0,3708.0,3480.0,17133,16907,5138,4868,58,-16,116,-24,24,-24,49,-7,9788,8664,2144,1466,NaN,NaN,1781,981,2176,1364,1696,1034,2290,1514,2506,1684,NaN,NaN,12450.0,12150.0,10262.0,9962.0
4,01,009,"Blount County, Alabama",58884,21300.0,2761.0,3889.0,14284.0,8732.0,4941.0,3783.0,2278.0,328.0,492.0,714.0,624.0,523.0,493.0,312.0,10584,112.0,54439,760,189,216,74,1243,600,174,126,55,71,460,5612,NaN,29530,29354,144.0,144.0,21027,6848,3345,5228,3709,5114,793,561,402,598,386,582,5854,734,NaN,NaN,963,5318,6830,8189,247,509,519,580,17244.0,541.0,3089.0,2433.0,4381.0,3397.0,14998.0,13570.0,9356.0,8108.0,5464.0,4418.0,4276.0,3290.0,2590.0,1966.0,10696.0,10472.0,55039,53839,934,586,315,63,271,161,145,3,1703,783,21820,20234,7409,6287,NaN,NaN,3747,2943,5826,4630,4095,3323,5696,4532,6588,5120,NaN,NaN,29674.0,29386.0,29498.0,29210.0

In [18]:
#calculate upper and lower margin of error for household estimates for columns in pop
for i in hh:
    df_CI[i+"_upper"] = df_CI[i] + df_CI["m_"+i]
    df_CI[i+"_lower"] = df_CI[i] - df_CI["m_"+i]

df_CI.head()

,state,county,name,pop_tot,hh_tot,ed_lt9,ed_9_12,ed_hs,ed_sc,ed_asc,ed_b,ed_gr,m_ed_lt9,m_ed_9_12,m_ed_hs,m_ed_sc,m_ed_asc,m_ed_b,m_ed_gr,age_gte65,m_age_gte65,race_white,race_black,race_aian,race_asian,race_nhopi,race_other,m_race_white,m_race_black,m_race_aian,m_race_asian,m_race_nhopi,m_race_other,eth_hisp,m_eth_hisp,sex_male,sex_female,m_sex_male,m_sex_female,occ_n_lab,occ_mgt,occ_svc,occ_sales,occ_nat_res,occ_prod,m_occ_n_lab,m_occ_mgt,m_occ_svc,m_occ_sales,m_occ_nat_res,m_occ_prod,hlth_unins,m_hlth_unins,ses_pov,m_ses_pov,tp_veh_0,tp_veh_1,tp_veh_2,tp_veh_3,m_tp_veh_0,m_tp_veh_1,m_tp_veh_2,m_tp_veh_3,dg_bb_int,m_dg_bb_int,ed_lt9_upper,ed_lt9_lower,ed_9_12_upper,ed_9_12_lower,ed_hs_upper,ed_hs_lower,ed_sc_upper,ed_sc_lower,ed_asc_upper,ed_asc_lower,ed_b_upper,ed_b_lower,ed_gr_upper,ed_gr_lower,age_gte65_upper,age_gte65_lower,race_white_upper,race_white_lower,race_black_upper,race_black_lower,race_aian_upper,race_aian_lower,race_asian_upper,race_asian_lower,race_nhopi_upper,race_nhopi_lower,race_other_upper,race_other_lower,occ_n_lab_upper,occ_n_lab_lower,occ_mgt_upper,occ_mgt_lower,eth_hisp_upper,eth_hisp_lower,occ_svc_upper,occ_svc_lower,occ_sales_upper,occ_sales_lower,occ_nat_res_upper,occ_nat_res_lower,occ_prod_upper,occ_prod_lower,hlth_unins_upper,hlth_unins_lower,ses_pov_upper,ses_pov_lower,sex_male_upper,sex_male_lower,sex_female_upper,sex_female_lower,tp_veh_0_upper,tp_veh_0_lower,tp_veh_1_upper,tp_veh_1_lower,tp_veh_2_upper,tp_veh_2_lower,tp_veh_3_upper,tp_veh_3_lower,dg_bb_int_upper,dg_bb_int_lower
0,01,001,"Autauga County, Alabama",58239,21856.0,803.0,3323.0,12977.0,7774.0,3593.0,6507.0,4637.0,237.0,444.0,866.0,805.0,551.0,703.0,573.0,8815,92.0,43755,11470,98,647,0,196,311,309,85,206,30,181,1775,NaN,28206,30033,213.0,213.0,19027,9850,3898,5656,2460,4007,846,873,483,612,384,469,4496,706,NaN,NaN,1182,6891,7383,6400,282,606,522,537,18679.0,477.0,1040.0,566.0,3767.0,2879.0,13843.0,12111.0,8579.0,6969.0,4144.0,3042.0,7210.0,5804.0,5210.0,4064.0,8907.0,8723.0,44066,43444,11779,11161,183,13,853,441,30,-30,377,15,19873,18181,10723,8977,NaN,NaN,4381,3415,6268,5044,2844,2076,4476,3538,5202,3790,NaN,NaN,28419.0,27993.0,30246.0,29820.0,1464,900,7497,6285,7905,6861,6937,5863,19156.0,18202.0
1,01,003,"Baldwin County, Alabama",227131,87190.0,3400.0,11155.0,44342.0,35174.0,15344.0,33379.0,19183.0,484.0,1279.0,1977.0,1815.0,1215.0,1758.0,1450.0,46805,180.0,192034,19895,1259,2175,9,4163,1411,736,378,439,16,1261,10634,NaN,110781,116350,196.0,196.0,74931,37653,18572,24673,9940,13529,2131,1714,1556,1636,1111,1280,21826,2332,NaN,NaN,2128,27606,37676,19780,379,1440,1517,1328,76602.0,1482.0,3884.0,2916.0,12434.0,9876.0,46319.0,42365.0,36989.0,33359.0,16559.0,14129.0,35137.0,31621.0,20633.0,17733.0,46985.0,46625.0,193445,190623,20631,19159,1637,881,2614,1736,25,-7,5424,2902,77062,72800,39367,35939,NaN,NaN,20128,17016,26309,23037,11051,8829,14809,12249,24158,19494,NaN,NaN,110977.0,110585.0,116546.0,116154.0,2507,1749,29046,26166,39193,36159,21108,18452,78084.0,75120.0
2,01,005,"Barbour County, Alabama",25259,9088.0,1336.0,3042.0,6600.0,3689.0,1321.0,1212.0,795.0,207.0,332.0,503.0,330.0,190.0,199.0,182.0,4801,29.0,11495,11985,77,106,1,977,198,182,40,38,3,208,1176,NaN,13361,11898,63.0,63.0,11270,2193,1773,1700,1042,1853,433,343,302,247,234,269,2313,352,NaN,NaN,1017,3024,3073,1974,207,313,271,224,5872.0,322.0,1543.0,1129.0,3374.0,2710.0,7103.0,6097.0,4019.0,3359.0,1511.0,1131.0,1411.0,1013.0,977.0,613.0,4830.0,4772.0,11693,11297,12167,11803,117,37,144,68,4,-2,1185,769,11703,10837,2536,1850,NaN,NaN,2075,1471,1947,1453,1276,808,2122,1584,2665,1961,NaN,NaN,13424.0,13298.0,11961.0,11835.0,1224,810,3337,2711,3344,2802,2198,1750,6194.0,5550.0
3,01,007,"Bibb County, Alabama",22412,7083.0,988.0,2137.0,7052.0,2886.0,1081.0,1276.0,637.0,272.0,385.0,560.0,431.0,202.0,383.0,210.0,3594,114.0,17020,5003,21,46,0,21,113,135,37,70,24,28,634,NaN,12300,10112,150.0,150.0,9226,1805,1381,1770,1365,1902,562,339,400,406,331,388,2095,411,NaN,NaN,448,1748,2667,2220,222,297,342,324,5284.0,371.0,1260.0,716.0,2522.0,1752.0,7612.0,6492.0,3317.0,2455.0,1283.0,879.0,1659.0,893.0,847.0,427.0,3708.0,3480.0,17133,16907,5138,4868,58,-16,116,-24,24,-24,49,-7,9788,8664,2144,1466,NaN,NaN,1781,981,2176,1364,1696,1034,2290,1514,2506,1684,NaN,NaN,12450.0,12150.0,10262.0,9962.0,670,226,2045,1451,3009,2325,2544,1896,5655.0,4913.0
4,01,009,"Blount County, Alabama",58884,21300.0,2761.0,3889.0,14284.0,8732.0,4941.0,3783.0,2278.0,328.0,492.0,714.0,624.0,523.0,493.0,312.0,10584,112.0,54439,760,189,216,74,1243,600,174,126,55,71,460,5612,NaN,29530,29354,144.0,144.0,21027,6848,3345,5228,3709,5114,793,561,402,598,386,582,5854,734,NaN,NaN,963,5318,6830,8189,247,509,519,580,17244.0,541.0,3089.0,2433.0,4381.0,3397.0,14998.0,13570.0,9356.0,8108.0,5464.0,4418.0,4276.0,3290.0,2590.0,1966.0,10696.0,10472.0,55039,53839,934,586,315,63,271,161,145,3,1703,783,21820,20234,7409,6287,NaN,NaN,3747,2943,5826,4630,4095,3323,5696,4532,6588,5120,NaN,NaN,29674.0,29386.0,29498.0,29210.0,1210,716,5827,4809,7349,6311,8769,7609,17785.0,16703.0

In [49]:
#export to csv
df.to_csv('acs5y_2021.csv', index=False, header=True)